---
layout: layouts/basic.njk
eleventyExcludeFromCollections: true
---
<center>
<h1>404</h1>
<h3>Seems like you're lost! <i class="fas fa-map-signs"></i><h3>
<a href="/" class="btn btn-primary mb-4" type="button">Primary</a>
</center>
