---
 layout: layouts/base.njk
 permalink: /
---

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<a href="https://simpleanalytics.com/adoring-curran-7f83bf.netlify.app?utm_source=adoring-curran-7f83bf.netlify.app&utm_content=badge" referrerpolicy="origin" target="_blank"><img src="https://simpleanalyticsbadge.com/adoring-curran-7f83bf.netlify.app?mode=dark" loading="lazy" referrerpolicy="no-referrer" crossorigin="anonymous" /></a>
