---
 layout: layouts/base.njk
 pagination:
  data: collections.post
  size: 6
  alias: posts
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
<center>
<div class="alert alert-secondary" role="alert" style="width: 220px;">
  <button class="close" data-dismiss="alert" type="button" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">Information</h4>
  Hey there! please consider checking out my <a href="https://github.com/ausername-1">GitHub</a> account, Thanks!
</div>
</center>

{% block body %}

  {% include "nav.njk" %}
  
{% endblock %}
