---
 layout: layouts/base.njk
 permalink: /
---

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<script>
    var alertContent = "Hey there! welcome to my blog please consider checking out my <a href='https://github.com/ausername-1' class='alert-link'>github</a> Thanks!";
    // Built-in function
    halfmoon.initStickyAlert({
      content: alertContent,      // Required, main content of the alert, type: string (can contain HTML)
      title: "Information"      // Optional, title of the alert, default: "", type: string
    })
</script>
