<div class="container-fluid">
  <div class="row">
{% for post in postslist | reverse %}
 <div class="col-sm-6">
  <div class="card p-0"> 
  <img class="img-fluid rounded-top" src="{{ post.data.featuredImage | url }}" alt="{{title}}"></img>
  
  <div class="content">
        <h2 class="content-title">
         {{ post.data.title }}
     </h2>
        <span class="text-muted">
          <i class="fa fa-clock-o mr-5" aria-hidden="true"></i> {{ post.date | readableDate }}
      </span>
     <p class="text-muted">
     {{ post.data.description }}
   </p>
     <div class="text-right"> <!-- text-right = text-align: right -->
        <a href="{{ post.url | url }}" class="btn">Read more</a>
      </div>
  </div>
</div>
</div>
 {% endfor %}
</div>
</div>
