<html>
<head>
<title>ausername blog</title>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1 class="mb-4">ausername blog</h1>
    <a href="/">Home</a>
     /
    <a href="{{ url }}">{{ title }}</a>
    </nav>
    {{ content | safe }}
  </div>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
       
   var rt = Math.round("{{ description }}".match(/.{1,5}/g).length/225);
  if (rt <= 0) {
  rt = "Less than a minute read."
  } else if (rt === 1){
  rt = `${rt} min read.`
  } else if (isNaN(rt)){
  rt = "Failed to calculate readtime!"
  } else {
  rt = "Failed to calculate readtime!"
  }
   document.getElementById('publisheddate').innerHTML = `Published on {{ date | readableDate }} 📌 ${rt}`   
</script>
</body>
</html>
