<html>
<head>
<title>ausername blog</title>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="https://kit.fontawesome.com/8e6f25e7c1.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1 class="mb-4">ausername blog</h1>
    <a href="#">C:</a>
    /
    <a href="/">Home</a>
     /
    <a href="/posts">Posts</a>
     /
    <a href="{{ url }}">{{ title }}</a>
    </nav>
    {{ content | safe }}
  </div>
  <footer>
  <center>
  <p>Made by <strong>ausername</strong> with <i class="fas fa-heart" style="color: red;"></i></p>
  <p>Brewing some coffee <i class="fas fa-coffee"></i></p>
  </center>
  </footer>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
       
   var rt = Math.round("{{ description }}".match(/.{1,5}/g).length/225);
  if (rt <= 0) {
  rt = "Less than a minute read."
  } else if (rt === 1){
  rt = `${rt} min read.`
  } else if (isNaN(rt)){
  rt = "Failed to calculate readtime!"
  } else {
  rt = "Failed to calculate readtime!"
  }
   document.getElementById('publisheddate').innerHTML = `Published on {{ date | readableDate }} 📌 ${rt}`   
</script>
          <script src=
"https://code.jquery.com/jquery-3.3.1.slim.min.js" i
                ntegrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
                integrity=
"sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
                crossorigin="anonymous"></script>
                  <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity=
"sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
                <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>
