---
 layout: layouts/base.njk
---
<head>
	<meta property="og:title" content="ausername blog | {{ title }}"/>
		<meta property="og:type" content="article"/>
		<meta property="og:url" content="{{ url }}"/>
		<meta property="og:site_name" content="ausername blog"/>
		<meta property="og:description" content="{{ description }}"/>
     <meta property="og:image" content="https://i.imgur.com/NEl62RH.png"/>
     <script>
function calcrt(a){var b=Math.round(a/200);return 0>=b?b="Less than a minute read.":isNaN(b)?(b="Failed to calculate readtime!",console.error(b)):b=`${b} min read.`,b}
</script>

</head>

<h2>{{ title }}</h2>
<div id="publisheddate" class="subtitle text-muted mb-2">Published on {{ date | readableDate }}</div>

<!-- Modal containing the image -->
<div class="modal" id="modal-4" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-media w-500"> <!-- w-500 = width: 50rem (500px) -->
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <img src="{{ featuredImage | url }}" class="img-fluid" alt="modal-img">
    </div>
  </div>
</div>
	
<img src="{{ featuredImage | url }}" alt="{{title}}" style="cursor: pointer" data-toggle="modal"  data-target=".bd-example-modal-lg"></img>

<p>{{ content | safe}}</p>

<hr>
<ul style="padding-left:20px;">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li style="padding-left:20px;">Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li style="padding-left:20px;">Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
